# Unity clean gitignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vscode/
.idea/

*.dll
*.a
*.so
*.dylib
*.exe
*.wasm
*.data
*.resS
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo

Assets/Backup/
